.sidenav{
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
  background-color: #2C3E50;
  border-radius: 0px !important;
}

.main-content{
  padding: 20px;
  background-color: #fafafa;
  font-family: 'Vazir' !important;
}

.mat-toolbar{
  background-color: #143D60;
  color: white;
  border-radius: 10px !important;
}
// سایدبار
.sidebar {
  background-color: #2C3E50;
  color: white;
}
.mat-nav-list  {
  font-family: 'Vazir'  !important;
  font-size: 36px; /* اندازه فونت دلخواه */
}

// تغییر رنگ پس‌زمینه منوها
.mat-drawer {
  background-color: #143D60 !important;
}

.list-item {
  font-family: 'Vazir' !important;
}

::ng-deep .mdc-list-item__primary-text{
  font-family: 'Vazir' !important;
}

.mat-drawer-inner-container{
  font-family: 'Vazir' !important;
}

.menu-icon{
  color: white !important;
}


